head
  title Book Tools 0
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
  link(rel="stylesheet", href="bower_components/typeahead.js-bootstrap.css/typeahead.js-bootstrap.css")
  link(rel="stylesheet", href="static/app.css")
