script(src="bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/typeahead.js/dist/typeahead.min.js")
script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="static/univ.js")